@page "/closedauctions"
@inject HttpClient Http
<html>
<head>
    <link rel="stylesheet" href="/css/ClosedAuctions.css" />
</head>
<body>
    <div>
        <TopNavBar></TopNavBar>
        <div class="container_closed">
            <div class="title_top">CLOSED AUCTIONS!!</div>
            @foreach(var bid in bids){
            <div class="auction_entry">
                <i class="material-icons" style="color: #E9B6FB;font-size: 80px">person</i>
                <div>
                        <p>@getBidderUsername(bid.bidderId)</p>
                    <p>@getProductName(bid.artId)</p>
                </div>
                <div>
                    <p>Highest Bid</p>
                    <button class="button_email">Send Invoice</button>
                </div>
            </div>
            }
        </div>

    </div>
</body>
</html>
@code {
    public List<User> users = new List<User>();
    public List<Art> arts = new List<Art>();
    public List<Bid> bids = new List<Bid>();
    public User activeUser;
    protected override async Task OnInitializedAsync()
    {
        var usersSaved = await Http.GetFromJsonAsync<List<User>>("sample-data/test.json");
        if (usersSaved.Any())
        {
            users = usersSaved;
            activeUser = usersSaved.Take(1).First();


        }
        var bidsSaved = await Http.GetFromJsonAsync<List<Bid>>("sample-data/test_bids.json");
        if (bidsSaved.Any())
        {
            Console.WriteLine(bids);
            bids = bidsSaved.Where(x => x.State == "closed").ToList();

        }
        var artSaved = await Http.GetFromJsonAsync<List<Art>>("sample-data/test_art.json");
        if (artSaved.Any())
        {
            arts = artSaved.Where(x => x.UserId == activeUser.UserId).ToList();



        }
    }

    public string getBidderUsername(Guid bidderId)
    {
        var bidder = users.FirstOrDefault(user => user.UserId == bidderId);
        if(bidder != null)
        {
            return bidder.FName+bidder.LName;
        }
        return "";

    }
    public string getProductName(Guid artId)
    {
        var biddedArt = arts.FirstOrDefault(art => art.ArtId == artId);
        if (biddedArt != null)
        {
            return biddedArt.Name;
        }
        return "";
    }

}
