*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align: center;
}
.container_closed {
    margin: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.title_top {
    color: #48BE1E;
    background-color: #E9B6FB;
    padding: 10px;
    width: 90%;
    font-size: 25px;
    border-radius: 10px;
}
.auction_entry {
    /*border: 1px solid black;*/
    height: 150px;
    width: 100%;
    /*border-radius: 10px;*/
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 150px 150px;
    gap: 200px;
    align-items: center;
    justify-content:space-between;
}
hr {
    margin: 30px;
    height: 0px;
    border: 2px solid #EDB6FB;
}
.button_email {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


    .button_email:hover {
        background-color: #45a049;
    }

@media only screen and (max-width: 480px) {
    .auction_entry {
        
        gap: 80px;
        
    }
}