*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container_auction{
    display:grid;
    justify-content:center;
    width:100%;
    gap:10px;
}
.container_card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}
.top_row {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 150px;
    gap: 20px;
}
.bottom_row{
    display:flex;
    gap: 20px;
    justify-content: right;

}
button {
    padding: 10px 25px;
    border:none;
}
.view {
    background-color: #E9B6FB;
    border-radius: 10px;
    color: white;
}
.email {
    background-color: #48BE1E;
    border-radius: 10px;
    color: white;
}
.manage {
    background-color: #919090;
    border-radius: 10px;
    color: white;
}
@media only screen and (max-width: 480px){
    .top_row {
        width: 100%;
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: 250px;
        gap: 20px;
    }
    
}
